:root {
   --gutter: 15px; 
   --bg: rgb(138, 226, 240);
}
*, *:before, *:after {
    box-sizing:inherit;
}
html {
    box-sizing: border-box;
    font-style: 18px;
}
body,p,h1,h2,h3,ul,ol {
    margin: 0;
    padding: 0;
}
.header {
    background-color: orange;
}
.container {
    background-color: #eee;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row > div {
    padding: 15px;
    margin: 0 auto;
    background-color: var(--bg);
    border: 1px solid black;
}
.col-3 {
    width: calc(25% - var(--gutter));
}
.col-4 {
    width: calc(33.33% - var(--gutter));
}
.col-6 {
    width: calc(50% - var(--gutter));
}
.col-12 {
    width: calc(100% - var(--gutter));
}

